{% extends 'base.html' %}

{% block content %}
<h1>Add a post</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ p_form }}
    <input type="submit" name="submit_p_form">
</form>
<div class="container">
    {% for post in posts %}
            {% if request.user == post.author.user %}
                <a href="{% url 'update_post' post.pk %}"><button class="btn btn-sm btn-success">Update</button></a>
                <a href="{% url 'delete_post' post.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a>
            {% endif %}
            <a href="{% url 'post_detail' post.pk %}"><button class="btn btn-sm btn-light">Post detail</button></a>
            <br>
            <a href="{% url 'get_profiles' post.author.pk %}">
            <img width="25" height="25" src="{{ post.author.image.url }}" />
            <p>{{ post.author }} {{ post.created_at | timesince }} ago </p>
            </a>
            <p>Content: {{ post.content }}</p>
            <form action="{% url 'add_like' %}" method="POST">
            <input type="hidden" name="post_id" value={{ post.pk }}>
                {% csrf_token %}
                <button>
                {% if request.user.profile in post.liked.all %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
                </button>
                {{ post.get_likes }}

            </form>
            <h2>Comments:</h2>
            {% if post.comment_set.all %}
                {% for c in post.comment_set.all  %}
                {% if request.user == c.author.user %}
                <a href="{% url 'delete_comment' c.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a>
                {% endif %}
                    {{ post.created_at | timesince }} ago 
                    <p>{{c.author }}-{{ c.content }}</p>
                {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{ post.pk }}>
                {{ c_form }}
                <input type="submit" name="submit_c_form">
            </form>
    {% endfor %}
</div>
{% endblock content %}