{% extends 'base.html' %}

{% block content %}
            {% if request.user == post.author.user %}
                <a href="{% url 'update_post' post.pk %}"><button class="btn btn-sm btn-success">Update</button></a>
                <a href="{% url 'delete_post' post.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a>
            {% endif %}
            <br>
            <img width="25" height="25" src="{{ post.author.image.url }}" />
            <p>{{ post.author }} {{ post.created_at | timesince }} ago </p>
            <p>Content: {{ post.content }}</p>
            <h2>Comments:</h2>
            {% if post.comment_set.all %}
                {% for c in post.comment_set.all  %}
                {% if request.user == c.author.user %}
                <a href="{% url 'delete_comment' c.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a>
                {% endif %}
                    {{ post.created_at | timesince }} ago 
                    <p>{{c.author }}-{{ c.content }}</p>
                {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{ post.pk }}>
                {{ c_form }}
                <input type="submit" name="submit_c_form">
            </form>
{% endblock content %}